+++
title = "Universal Safety Format"
linkTitle = "USF"

+++

{{< blocks/cover title="Welcome to Universal Safety Format!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/introduction" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/concepts/metamodel" >}}">
		Documentation <i class="fa fa-book ml-2 "></i>
	</a>
	<p class="lead mt-5">Automate functional safety for your systems!</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Automation solutions are advancing further and further into various areas of life. This is already true for industrial manufacturing, and can increasingly be observed in home automation and medical care. In the future, highly automated assistants will cooperate with humans closer than ever. To avoid harm, it is crucial to incorporate safety mechanisms into the software of these assistants. 
{{% /blocks/lead %}}

{{% blocks/section type="section" color="white" %}}
To improve the functional safety of a technical system’s software, the common approach today is to manually add code that implements safety mechanisms to existing source code. The manual addition of safety code 

<ul>
	<li>risks introducing flaws into the functional code of the software (which may lead to physical harm in the worst case),</li>
	<li>increases code complexity,</li>
	<li>significantly prolongs development time, and</li>
	<li>makes the code harder to grasp than the functional code alone</li>
</ul>

The Universal Safety Format (USF) was created to improve this situation. USF formally defines functional safety mechanisms and a language to automatically weave them into system models and source code. What has been a time consuming, error-prone manual task can now be automated. 

The format enables users to pick safety mechanisms from a library (e.g., a Dual Modular Redundancy pattern), and specify the locations in the code where the mechanism should be weaved in. A USF tool then adds the pattern’s safety code to the existing code automatically. 

{{% /blocks/section %}}


{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="fa-lightbulb" title="See USF in action!" url="/concepts/transformations" %}}
The gist of USF is automatic weaving of safety mechanisms in models and code. Learn how the transformation engine works.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tools" title="Learn about tools for USF!" url="/tools" %}}
USF is a fairly new format. Nevertheless, a couple of tools which support USF are already showing up. Check out the tools section! 
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-bullhorn" title="Join the discussion!" url="https://www.edacentrum.de/safe4i/" %}}
USF is being developed by the SAFE4I research project consortium, supported by the German BMBF. [Visit the SAFE4I website](https://www.edacentrum.de/safe4i/) and learn more!
{{% /blocks/feature %}}

{{< /blocks/section >}}

{{% blocks/section color="primary" %}}
<div class="col-lg-12 mb-5 mb-lg-0 text-center ">
  <div class="mb-4 h1">
    <i class="fas fa-chalkboard-teacher"></i>
  </div>
  <h4 class="h3">USF Trainings</h4>
  <p class="mb-0"></p>
  <p>Need more information?<br> We offer personal trainings to help get you started with the USF.<br> Contact us on how the USF can improve your tools and development flows.</p>
  <p></p>
  <p><a href="#" data-name="viehl" data-domain="fzi" data-tld="de" data-suffix="subject=USF training enquiry" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld + '?' + this.dataset.suffix; return false;">Contact Us</a></p>
</div>
{{% /blocks/section %}}
